<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<body style="background-color:#e8cebf">

  <style>
    h1,h3,a,p{
      color: #fffef2;
    }
  </style>
  
  <h1 style="font-family: 'Times New Roman', Times, serif; margin-left: 45%;">Home</h1>
  <h3 style="margin-left:35% ;">Welcome to Julia Mari's webpage</h3>
   <br>
   <br>
   <a class="nav-link active" aria-current="page" href="/about" style="margin-left:46%; font-family:'Times New Roman', Times, serif; font-size: 20px;"><b>ABOUT</b></a>
   <hr>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div class="right">
      <h1 style="text-align:center;">Mission Statement</h1>
     <p style="    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     margin-top: 1%;
     margin-left: 25%;
     margin-right: 25%;">
       Passionate for creating and designing unique websites. This is done through the use of HTML concepts. With her knowledge, she loves to make personal websites.
     </p>

     <img src="https://proofmart.com/wp-content/uploads/2021/06/13-01-1.png" height="150px" style="margin-left: 45%;">
   </div>
   
 </div>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

