<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<body style="background-color:#e8cebf">
  

  
  <h1 style="margin-left: 45%;">PROJECTS</h1>
  <hr>

  <style>
   .container {
     display: flex;
     align-items: center;
     justify-content: center
   }
   p {
     font-size: 20px;
     padding-left: 20px;
   }
   img{
      height: 150px;
   }
 </style>

<h3 style="margin-left: 50%;">Project #1</h3>
 <div class="container">
   <div class="image">
   
     <img src="project1.png">
   </div>
   <div class="text">
     <p> This was a project I created to display different property listings. In this case, I was a real estate agent, so I created a page showing my information and included links for the several properties I found.</p>
   </div>
 </div>

<h3 style="margin-left: 48%;">Project #2</h3>

<div class="container">
   <div class="image">
   
     <img src="project2.png">
   </div>
   <div class="text">
     <p> In this project, I wanted to make a small cute photo gallery displaying some pictures that I liked. You can change through the photos and even update it.</p>
   </div>
 </div>

<h3 style="margin-left: 48%;">Project #3</h3>
<div class="container">
   <div class="image">
     <img src="project3.png">
   </div>
   <div class="text">
      <p>Here, I made a mini game that has a counter that keeps track of the score. It is a simple game that can be played by anyone.</p>
   </div>
 </div>
   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

